/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


/* All elements are to the page edge */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #05445E;
}

/* body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;;
} */

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85,85,85)
}

/* TRANSITION */
a, .btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */
nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 12vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
  font-weight: 500;
}

a {
  color: #05445E;
  text-decoration: none;
  text-decoration-color: azure;
}

a:hover {
  color: #267f91;
  text-decoration: underline overline;
  text-underline-offset: 0.4rem;
  text-decoration-color: #5d9bb8;
}

.logo {
  font-size: 2rem;
  font-weight: 500;
}

.logo:hover {
  cursor: default;
}

/* SMALLER-NAV */

#smaller-nav {
  display: none;
}

.menu-nav {
  position: relative;
  display: inline-block;
}

.menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.menu-icon span {
  width: 100%;
  height: 4px;
  background-color: #05445E;
  transition: all 0.3 ease-in-out;
  border-radius: 20%;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.1s ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: #05445E;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.menu-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.menu-icon.open span:nth-child(2) {
  opacity: 0;
}

.menu-icon.open span:last-child {
  transform: rotate(-45deg) translate(9px, -5px);
}

.menu-icon span:first-child {
  transform: none;
}
.menu-icon span:nth-child(2) {
  opacity: 1;
}
.menu-icon span:last-child  {
  transform: none;
}

/* SECTIONS */

section {
  padding-top: 6vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */
#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 88vh;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.profile_pic {
  border-radius: 4rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
  font-weight: 600;
}

.section__text__p1 {
  font-size: 1.5rem;
}

.section__text__p2 {
  text-align: center;
  font-size: 1.75rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.section__text__p3 {
  text-align: center;
  font-size: 2rem;
}

.section__text__p4 {
  text-align: center;
  font-size: 1.1rem;
}

.section__text__p4_course {
  margin-top: 1rem;
  line-height: 1.5;
  text-align: left;
  font-size: 1.1rem;
}

.section__text__title {
  font-size: 3rem;
  text-align: center;
}

.section_text_more {
  font-size: 1.5rem;
  text-align: center;
}

.socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 3rem;
}

/* BUTTONS */
.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 1rem;
}

.btn-color-1, .btn-color-2 {
  border: #267f91 0.1rem solid;
}

.btn-color-1:hover, .btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1, .btn-color-2:hover {
  background: #267f91;
  color: white;
}

.btn-color-1:hover {
  background: #05445E;
}

.btn-color-2 {
  background: none;
  color:#05445E;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

.more-to-explore {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  right: 5%;
  bottom: 4%;
  cursor: pointer;
}

/* ABOUT */
#about {
  position: relative;
}

.about-container {
  gap: 2rem;
  margin-bottom: 3rem;
  margin-top: 2rem;
  justify-content: center;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-container, .about-details-container {
  display: flex;
  gap: 2rem;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.up_arrow {
  position: absolute;
  right: -5rem;
  bottom: 5rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: #05445E 0.2rem solid;
  border-color: #267f91;
  text-align: center;
  min-width: 350px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.section-container {
  gap: 4rem;
  height: 80%;
  justify-content: center;
}

.text-container {
  flex: content;
  background: white;
  text-align: left;
  font-size: 1.5rem;
  flex-direction: column;
}

.details-course {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* EXPERIENCE */

#experience {
  position: relative;
}

.experience-title {
  color: #05445E;
  font-weight: 500;
  font-size: 2rem;
}

.experience-sub-title {
  color: #267f91;
  font-weight: 500;
  font-size: 1.5rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
}

article .icon {
  cursor: default;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  display: flex;
}

.article-content {
  margin-bottom: 1rem;
}

.article-skills {
  font-size: 1.2rem;
  list-style: none;
  font-weight: 600;
  color: #267f91;
  text-align: center;
  margin-top: 1rem;
}

.article-header{
  text-align: center;
  font-size: 1.5rem;
}

.more-btn-container {
  margin-top: 2rem;
  position: absolute;
  bottom: 1.5rem;
  left: 0;
  right: 0;
}

.color-container {
  position: relative;
  min-height: 550px;
}


/* PROJECTS */

#projects {
  position: relative;
}

.project-title {
  margin: 1rem;
  color: #05445E;
}

.project-container {
  position: relative;
  min-height: fit-content;
}


/* CONTACT */
#contact {
  position: relative;
  height: 90vh;
}
.contact-info-icon:hover {
  text-decoration: none;
}

.contact-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5rem;
}

/* FOOTER SECTION */

footer {
  height: 10vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}